<footer class="footer text-bg-dark py-3 mt-auto">
  <div class="container">
    <span class="">
      &copy; YelpCamp 2025. By
      <a href="https://www.instagram.com/ferguemez_/?hl=es-la" target="_blank"
        >Fernanda Güemez</a
      ></span
    >
  </div>
</footer>
