<%layout("layouts/boilerplate")%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-danger text-break" role="alert">
        <h4 class="alert-heading"><%= err.message %></h4>
        <% if (process.env.NODE_ENV !== "production") { %>
        <p class="mb-3"><%= err.stack %></p>
        <% } %>
      </div>
    </div>
  </div>
</div>
